<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Brasil Casas</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/media/assets/img/favicons/favicon.ico" rel="icon">
  <link href="/media/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/media/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/media/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/media/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/media/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/media/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/media/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/media/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto"><img src="/media/assets/img/Logo-PNG-BrasilCasas-BRANCO.png" width="250"></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Início</a></li>
          <li><a href="#about">Sobre nós</a></li>
          <li><a href="#services">Serviços</a></li>
{#          <li><a href="#portfolio">Portfólio</a></li>#}
          <li><a href="#team">Time</a></li>
          <li><a href="#contact">Fale conosco!</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="/media/img/intro-carousel/1.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Aqui na Brasil Casas</h2>
                <p>Somos comprometidos com a excelência. Desde a nosso planejamento,
                    trabalhamos duro para garantir que nossos clientes recebam os melhores serviços em assistência
                    residencial na nossa região.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Começe por aqui!</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="/media/img/intro-carousel/2.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Nossa equipe de profissionais</h2>
                <p>Oferece um atendimento de suporte ao cliente
                    inigualável, além de uma assessoria especializada.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Começe por aqui!</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="/media/img/intro-carousel/3.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Exclusividade para o associado</h2>
                <p>Oferecemos serviços que atendem às necessidades dos nossos associados, a melhor prestação de serviços EXCLUSIVA PARA VOCÊ.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Começe por aqui!</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="ion-ios-bookmarks-outline"></i>
            <h4 class="title"><a href="">Sistema de Gerenciamento</a></h4>
            <p class="description">Elaboramos o sistema de gerência dos associados totalmente do ponto inicial. Esta é mais uma garantia de qualidade e compromisso.</p>
          </div>

          <div class="col-lg-4 box box-bg">
            <i class="ion-ios-stopwatch-outline"></i>
            <h4 class="title"><a href="">Network</a></h4>
            <p class="description">Nossos associados participam de redes e podem criar suas próprias redes de ganhos.</p>
          </div>

          <div class="col-lg-4 box">
            <i class="ion-ios-heart-outline"></i>
            <h4 class="title"><a href="">Coberturas</a></h4>
            <p class="description">Todas as coberturas oferecidas pela Brasil Casas são resultados de muitas pesquisas. Todas pensadas para o seu bem e da sua família.</p>
          </div>

        </div>
      </div>
    </section><!-- #featured-services -->

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Sobre nós</h3>
          <p>A empresa Brasil Casas Assistência Residencial, surgiu para oferecer serviços de qualidade para
            seus clientes, dando segurança para toda a família, cuidando de um bem muito valioso para todos,
            que é o lar. Com mais de 8 coberturas iniciais a Brasil Casas Assistência Residencial traz um
            mercado totalmente inovador, serviços prestados em tempo recorde, equipe preparada 24 horas para
            atender aos chamados dos clientes. Profissionais dedicados e a espera para servir com os melhores
            produtos do mercado.
            Venha fazer parte da Brasil Casas Assistência Residencial, Pode confiar!.</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="/media/img/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Nossa Missão</a></h2>
              <p>
                Oferer serviços que ajudem as pessoas, com qualidade e confiança.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="/media/img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Nosso Valores</a></h2>
              <p>
                Confiança, qualidade, humildade, integridade, respeito.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="/media/img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Nossa Visão</a></h2>
              <p>
                Ser referência no mercado de assistências residenciais em Alagoas.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Serviços</h3>
          <p>Temos compromissos com os nossos clientes, presamos pela qualidade dos serviços prestados. Todos os
            serviços podem ser adquidos através de um contrato de prestação de serviços, peça agora mesmo a um
            de nossos consultores uma demonstração e surpreenda-se. Abaixo alguns de nossos serviços prestados.</p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="">Incêndio e explosão</a></h4>
            <p class="description">Se houver combustão violenta e descontrolada, acompanhada de chamas e desprendimento de calor</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title"><a href="">Roubo e furto de bens mediante arrombamento</a></h4>
            <p class="description">Quando um ou mais bens são roubados da residencia assegurada, os itens vigentes em contrato, serão
	compensados como: resgatados ou outros</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
            <h4 class="title"><a href="">Perda ou pagamento de aluguel</a></h4>
            <p class="description">Em caso de sinistro que impossibilite a permanecia da sua família em casa para a manutenção do
	imovél, a assistência residencial cobrirá o aluguel para você e sua família</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title"><a href="">Vendaval</a></h4>
            <p class="description">Durante as fortes chuvas com ventos, há uma enorme possibilidade do vendaval danificar os telhados
	das residencias, porém com a assistência residencial você e sua família estarão despreocupados</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
            <h4 class="title"><a href="">Danos elétricos</a></h4>
            <p class="description">Em caso de curto-cirtuito as tomadas, chuveiros eletricos e outros estarão assegurados</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-people-outline"></i></div>
            <h4 class="title"><a href="">Danos causados por terceiros</a></h4>
            <p class="description">Certamente não estamos livres de situações em que outras pessoas causam danos, sem intenção,
	        a nossa residência, mas com o plano de assistência residencial tudo fica mas tranquilo</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-people-outline"></i></div>
            <h4 class="title"><a href="">Chaveiro</a></h4>
            <p class="description">Quase sempre perdemos ou quebramos as nossas chaves e nem sempre temos em tempo satisfatório um
	            profissional para nos socorrer, sem contar que é um valor que não estava no nosso orçamento, não é?
	            Com o nosso contrato você pode ficar despreocupado</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-people-outline"></i></div>
            <h4 class="title"><a href="">Vidros e espelhos</a></h4>
            <p class="description">São itens indispensáveis em nossas casas, mas são bastante frágeis, com os nossos serviços você
	        fica despreocupado</p>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
        <h3>Siga-nos</h3>
        <p> Acompanhe as novidades da Brasil Casas nas nossas redes sociais e fique por dentro de tudo.</p>
       <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
      </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Skills Section
    ============================-->
    <section id="skills">
      <div class="container">

        <header class="section-header">
          <h3>Você sabia?</h3>
          <p>Fizemos um levantamento dos principais pontos que você deve levar em conta na hora de realizar um contrato em assistências residenciais.</p>
        </header>

        <div class="skills-content">

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Residências sem assistência residencial <i class="val">85%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Aumento de roubos à residências em 2018 <i class="val">70%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Busca por assistência residencial aumenta desde 2017 <i class="val">40%</i></span>
            </div>
          </div>

{#          <div class="progress">#}
{#            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">#}
{#              <span class="skill">Photoshop <i class="val">55%</i></span>#}
{#            </div>#}
{#          </div>#}

        </div>

      </div>
    </section>

    <!--==========================
      Facts Section
    ============================-->
{#    <section id="facts"  class="wow fadeIn">#}
{#      <div class="container">#}
{##}
{#        <header class="section-header">#}
{#          <h3>Facts</h3>#}
{#          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>#}
{#        </header>#}
{##}
{#        <div class="row counters">#}
{##}
{#  				<div class="col-lg-3 col-6 text-center">#}
{#            <span data-toggle="counter-up">274</span>#}
{#            <p>Clients</p>#}
{#  				</div>#}
{##}
{#          <div class="col-lg-3 col-6 text-center">#}
{#            <span data-toggle="counter-up">421</span>#}
{#            <p>Projects</p>#}
{#  				</div>#}
{##}
{#          <div class="col-lg-3 col-6 text-center">#}
{#            <span data-toggle="counter-up">1,364</span>#}
{#            <p>Hours Of Support</p>#}
{#  				</div>#}
{##}
{#          <div class="col-lg-3 col-6 text-center">#}
{#            <span data-toggle="counter-up">18</span>#}
{#            <p>Hard Workers</p>#}
{#  				</div>#}
{##}
{#  			</div>#}
{##}
{#        <div class="facts-img">#}
{#          <img src="/media/img/facts-img.png" alt="" class="img-fluid">#}
{#        </div>#}
{##}
{#      </div>#}
{#    </section><!-- #facts -->#}

    <!--==========================
      Portfolio Section
    ============================-->
{#    <section id="portfolio"  class="section-bg" >#}
{#      <div class="container">#}
{##}
{#        <header class="section-header">#}
{#          <h3 class="section-title">Nosso Portfólio</h3>#}
{#        </header>#}
{##}
{#        <div class="row">#}
{#          <div class="col-lg-12">#}
{#            <ul id="portfolio-flters">#}
{#              <li data-filter="*" class="filter-active">All</li>#}
{#              <li data-filter=".filter-app">App</li>#}
{#              <li data-filter=".filter-card">Card</li>#}
{#              <li data-filter=".filter-web">Web</li>#}
{#            </ul>#}
{#          </div>#}
{#        </div>#}
{##}
{#        <div class="row portfolio-container">#}
{##}
{#          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">#}
{#            <div class="portfolio-wrap">#}
{#              <figure>#}
{#                <img src="/media/img/portfolio/app1.jpg" class="img-fluid" alt="">#}
{#                <a href="/media/img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>#}
{#                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>#}
{#              </figure>#}
{##}
{#              <div class="portfolio-info">#}
{#                <h4><a href="#">App 1</a></h4>#}
{#                <p>App</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">#}
{#            <div class="portfolio-wrap">#}
{#              <figure>#}
{#                <img src="/media/img/portfolio/web3.jpg" class="img-fluid" alt="">#}
{#                <a href="/media/img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>#}
{#                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>#}
{#              </figure>#}
{##}
{#              <div class="portfolio-info">#}
{#                <h4><a href="#">Web 3</a></h4>#}
{#                <p>Web</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">#}
{#            <div class="portfolio-wrap">#}
{#              <figure>#}
{#                <img src="/media/img/portfolio/app2.jpg" class="img-fluid" alt="">#}
{#                <a href="/media/img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>#}
{#                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>#}
{#              </figure>#}
{##}
{#              <div class="portfolio-info">#}
{#                <h4><a href="#">App 2</a></h4>#}
{#                <p>App</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">#}
{#            <div class="portfolio-wrap">#}
{#              <figure>#}
{#                <img src="/media/img/portfolio/card2.jpg" class="img-fluid" alt="">#}
{#                <a href="/media/img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>#}
{#                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>#}
{#              </figure>#}
{##}
{#              <div class="portfolio-info">#}
{#                <h4><a href="#">Card 2</a></h4>#}
{#                <p>Card</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">#}
{#            <div class="portfolio-wrap">#}
{#              <figure>#}
{#                <img src="/media/img/portfolio/web2.jpg" class="img-fluid" alt="">#}
{#                <a href="/media/img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>#}
{#                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>#}
{#              </figure>#}
{##}
{#              <div class="portfolio-info">#}
{#                <h4><a href="#">Web 2</a></h4>#}
{#                <p>Web</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">#}
{#            <div class="portfolio-wrap">#}
{#              <figure>#}
{#                <img src="/media/img/portfolio/app3.jpg" class="img-fluid" alt="">#}
{#                <a href="/media/img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>#}
{#                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>#}
{#              </figure>#}
{##}
{#              <div class="portfolio-info">#}
{#                <h4><a href="#">App 3</a></h4>#}
{#                <p>App</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">#}
{#            <div class="portfolio-wrap">#}
{#              <figure>#}
{#                <img src="/media/img/portfolio/card1.jpg" class="img-fluid" alt="">#}
{#                <a href="/media/img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>#}
{#                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>#}
{#              </figure>#}
{##}
{#              <div class="portfolio-info">#}
{#                <h4><a href="#">Card 1</a></h4>#}
{#                <p>Card</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">#}
{#            <div class="portfolio-wrap">#}
{#              <figure>#}
{#                <img src="/media/img/portfolio/card3.jpg" class="img-fluid" alt="">#}
{#                <a href="/media/img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>#}
{#                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>#}
{#              </figure>#}
{##}
{#              <div class="portfolio-info">#}
{#                <h4><a href="#">Card 3</a></h4>#}
{#                <p>Card</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">#}
{#            <div class="portfolio-wrap">#}
{#              <figure>#}
{#                <img src="/media/img/portfolio/web1.jpg" class="img-fluid" alt="">#}
{#                <a href="/media/img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>#}
{#                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>#}
{#              </figure>#}
{##}
{#              <div class="portfolio-info">#}
{#                <h4><a href="#">Web 1</a></h4>#}
{#                <p>Web</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#        </div>#}
{##}
{#      </div>#}
{#    </section><!-- #portfolio -->#}

    <!--==========================
      Clients Section
    ============================-->
{#    <section id="clients" class="wow fadeInUp">#}
{#      <div class="container">#}
{##}
{#        <header class="section-header">#}
{#          <h3>Our Clients</h3>#}
{#        </header>#}
{##}
{#        <div class="owl-carousel clients-carousel">#}
{#          <img src="/media/img/clients/client-1.png" alt="">#}
{#          <img src="/media/img/clients/client-2.png" alt="">#}
{#          <img src="/media/img/clients/client-3.png" alt="">#}
{#          <img src="/media/img/clients/client-4.png" alt="">#}
{#          <img src="/media/img/clients/client-5.png" alt="">#}
{#          <img src="/media/img/clients/client-6.png" alt="">#}
{#          <img src="/media/img/clients/client-7.png" alt="">#}
{#          <img src="/media/img/clients/client-8.png" alt="">#}
{#        </div>#}
{##}
{#      </div>#}
{#    </section><!-- #clients -->#}

    <!--==========================
      Clients Section
    ============================-->
{#    <section id="testimonials" class="section-bg wow fadeInUp">#}
{#      <div class="container">#}
{##}
{#        <header class="section-header">#}
{#          <h3>Testemunhos</h3>#}
{#        </header>#}
{##}
{#        <div class="owl-carousel testimonials-carousel">#}
{##}
{#          <div class="testimonial-item">#}
{#            <img src="/media/img/testimonial-1.jpg" class="testimonial-img" alt="">#}
{#            <h3>Saul Goodman</h3>#}
{#            <h4>Ceo &amp; Founder</h4>#}
{#            <p>#}
{#              <img src="/media/img/quote-sign-left.png" class="quote-sign-left" alt="">#}
{#              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.#}
{#              <img src="/media/img/quote-sign-right.png" class="quote-sign-right" alt="">#}
{#            </p>#}
{#          </div>#}
{##}
{#          <div class="testimonial-item">#}
{#            <img src="/media/img/testimonial-2.jpg" class="testimonial-img" alt="">#}
{#            <h3>Sara Wilsson</h3>#}
{#            <h4>Designer</h4>#}
{#            <p>#}
{#              <img src="/media/img/quote-sign-left.png" class="quote-sign-left" alt="">#}
{#              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.#}
{#              <img src="/media/img/quote-sign-right.png" class="quote-sign-right" alt="">#}
{#            </p>#}
{#          </div>#}
{##}
{#          <div class="testimonial-item">#}
{#            <img src="/media/img/testimonial-3.jpg" class="testimonial-img" alt="">#}
{#            <h3>Jena Karlis</h3>#}
{#            <h4>Store Owner</h4>#}
{#            <p>#}
{#              <img src="/media/img/quote-sign-left.png" class="quote-sign-left" alt="">#}
{#              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.#}
{#              <img src="/media/img/quote-sign-right.png" class="quote-sign-right" alt="">#}
{#            </p>#}
{#          </div>#}
{##}
{#          <div class="testimonial-item">#}
{#            <img src="/media/img/testimonial-4.jpg" class="testimonial-img" alt="">#}
{#            <h3>Matt Brandon</h3>#}
{#            <h4>Freelancer</h4>#}
{#            <p>#}
{#              <img src="/media/img/quote-sign-left.png" class="quote-sign-left" alt="">#}
{#              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.#}
{#              <img src="/media/img/quote-sign-right.png" class="quote-sign-right" alt="">#}
{#            </p>#}
{#          </div>#}
{##}
{#          <div class="testimonial-item">#}
{#            <img src="/media/img/testimonial-5.jpg" class="testimonial-img" alt="">#}
{#            <h3>John Larson</h3>#}
{#            <h4>Entrepreneur</h4>#}
{#            <p>#}
{#              <img src="/media/img/quote-sign-left.png" class="quote-sign-left" alt="">#}
{#              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.#}
{#              <img src="/media/img/quote-sign-right.png" class="quote-sign-right" alt="">#}
{#            </p>#}
{#          </div>#}
{##}
{#        </div>#}
{##}
{#      </div>#}
{#    </section><!-- #testimonials -->#}

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container" >
        <div class="section-header wow fadeInUp">
          <h3>Time</h3>
          <p>Nosso time reúne experiências de mercado com alto padrão de negócios</p>
        </div>

        <div class="row">

{#          <div class="col-lg-3 col-md-6 wow fadeInUp">#}
{#            <div class="member">#}
{#              <img src="/media/img/indexxandinho.jpg" class="img-fluid" alt="">#}
{#              <div class="member-info">#}
{#                <div class="member-info-content">#}
{#                  <h4>Alexandre Lima</h4>#}
{#                  <span>Diretor</span>#}
{#                  <div class="social">#}
{#                    <a href=""><i class="fa fa-twitter"></i></a>#}
{#                    <a href=""><i class="fa fa-facebook"></i></a>#}
{#                    <a href=""><i class="fa fa-google-plus"></i></a>#}
{#                    <a href=""><i class="fa fa-linkedin"></i></a>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}

          <div class="col-lg-6 col-md-9 wow fadeInUp" data-wow-delay="0.1s" style="left: 25%;">
            <div class="member">
              <img src="/media/img/time.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Adalberto Feitosa</h4>
                  <span>Diretor</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

{#          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s" style="left: 30%;">#}
{#            <div class="member">#}
{#              <img src="/media/img/indexxandinho.jpg" class="img-fluid" alt="">#}
{#              <div class="member-info">#}
{#                <div class="member-info-content">#}
{#                  <h4>Alexandre Lima</h4>#}
{#                  <span>Diretor</span>#}
{#                  <div class="social">#}
{#                    <a href=""><i class="fa fa-twitter"></i></a>#}
{#                    <a href=""><i class="fa fa-facebook"></i></a>#}
{#                    <a href=""><i class="fa fa-google-plus"></i></a>#}
{#                    <a href=""><i class="fa fa-linkedin"></i></a>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">#}
{#            <div class="member">#}
{#              <img src="/media/img/team-4.jpg" class="img-fluid" alt="">#}
{#              <div class="member-info">#}
{#                <div class="member-info-content">#}
{#                  <h4>Amanda Jepson</h4>#}
{#                  <span>Accountant</span>#}
{#                  <div class="social">#}
{#                    <a href=""><i class="fa fa-twitter"></i></a>#}
{#                    <a href=""><i class="fa fa-facebook"></i></a>#}
{#                    <a href=""><i class="fa fa-google-plus"></i></a>#}
{#                    <a href=""><i class="fa fa-linkedin"></i></a>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Fale conosco!</h3>
          <p>Venha fazer parte, conheça a experiência da Brasil Casas</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Endereço</h3>
              <address>Avenida dois de Dezembro, ao lado do banco do nordeste</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Telefone para contato</h3>
              <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">info@example.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Sua mensagem foi enviada. Obrigado!</div>
          <div id="errormessage"></div>
          <form action="" method="post">
              {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
{#                <input type="text" name="name" class="form-control" id="id_nome" placeholder="Seu nome" data-rule="minlen:4" data-msg="Por favor, seu nome deve ter pelo menos 4 caracteres" />#}
                  {{ form.nome }}
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
{#                <input type="email" class="form-control" name="email" id="id_email" placeholder="Seu email" data-rule="email" data-msg="Por favor informe um email válido" />#}
                    {{ form.email }}
                  <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
{#              <input type="text" class="form-control" name="subject" id="id_titulo" placeholder="Título" data-rule="minlen:4" data-msg="Por favor informe o título da sua mensagem" />#}
                {{ form.titulo }}
                <div class="validation"></div>
            </div>
            <div class="form-group">
{#              <textarea class="form-control" name="message" id="id_mensagem" rows="5" data-rule="required" data-msg="Por favor informe a mensagem que você deseja nos enviar" placeholder="Mensagem"></textarea>#}
                {{ form.mensagem }}
                <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Enviar Mensagem</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
{#      <div class="container">#}
{#        <div class="row">#}
{##}
{#          <div class="col-lg-3 col-md-6 footer-info">#}
{#            <h3>BizPage</h3>#}
{#            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>#}
{#          </div>#}
{##}
{#          <div class="col-lg-3 col-md-6 footer-links">#}
{#            <h4>Useful Links</h4>#}
{#            <ul>#}
{#              <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>#}
{#              <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li>#}
{#              <li><i class="ion-ios-arrow-right"></i> <a href="#">Services</a></li>#}
{#              <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>#}
{#              <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>#}
{#            </ul>#}
{#          </div>#}
{##}
{#          <div class="col-lg-3 col-md-6 footer-contact">#}
{#            <h4>Contact Us</h4>#}
{#            <p>#}
{#              A108 Adam Street <br>#}
{#              New York, NY 535022<br>#}
{#              United States <br>#}
{#              <strong>Phone:</strong> +1 5589 55488 55<br>#}
{#              <strong>Email:</strong> info@example.com<br>#}
{#            </p>#}
{##}
{#            <div class="social-links">#}
{#              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>#}
{#              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>#}
{#              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>#}
{#              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>#}
{#              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>#}
{#            </div>#}
{##}
{#          </div>#}
{##}
{#          <div class="col-lg-3 col-md-6 footer-newsletter">#}
{#            <h4>Our Newsletter</h4>#}
{#            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>#}
{#            <form action="" method="post">#}
{#              <input type="email" name="email"><input type="submit"  value="Subscribe">#}
{#            </form>#}
{#          </div>#}
{##}
{#        </div>#}
{#      </div>#}
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Brasil Casas</strong>. Todos os direitos reservados
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        -->
{#        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>#}
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="/media/lib/jquery/jquery.min.js"></script>
  <script src="/media/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/media/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/media/lib/easing/easing.min.js"></script>
  <script src="/media/lib/superfish/hoverIntent.js"></script>
  <script src="/media/lib/superfish/superfish.min.js"></script>
  <script src="/media/lib/wow/wow.min.js"></script>
  <script src="/media/lib/waypoints/waypoints.min.js"></script>
  <script src="/media/lib/counterup/counterup.min.js"></script>
  <script src="/media/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/media/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="/media/lib/lightbox/js/lightbox.min.js"></script>
  <script src="/media/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="/media/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/media/js/main.js"></script>

</body>
</html>
